# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.hex

# Precompiled Headers
*.gch
*.pch

# Unsuccessful compiled files
*.d
*.crf
*.axf
*.lst

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other compiled files
*.map
*.dep
*.lnp
*.htm
*.iex
*.sct